.wrapper {
  display: flex;
  gap: 16px;
}

.button {
  min-width: 6em;
  padding: 10px;
  border: none;
  border-radius: 3em;
  text-transform: uppercase;
  color: rgb(21, 197, 233);
  border: 2px solid rgb(21, 197, 233);
  background-color: transparent;
  transition: transform 150ms ease-in-out;
  cursor: pointer;
  font-size: 0.4em;
  font-family: inherit;
  line-height: 1;
  font-weight: 400;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.button:active {
  transform: scale(0.9);
}

[name='good'] {
  background-color: rgb(232, 255, 247);
}

[name='neutral'] {
  background-color: rgb(234, 251, 251);
}

[name='bad'] {
  background-color: rgb(255, 239, 237);
}
